 <ul>
<!--- SECTION --->
    <li class="section"><h4 class="header toggle-target">User Guide</h4>
        <ul>
        <li><a href="/about-juju">About Juju</a></li>
        <li><a href="/introducing-2">Introducing Juju 2.0!</a></li>
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/juju-concepts">Juju concepts</a></li>
        <li><a href="/getting-started-general">Install &amp; Configure</a></li>
        <li class="section"><a class="header" href="/clouds">Clouds</a>
            <ul class="sub">
                <li><a href="/credentials">Credentials</a></li>
            </ul>
        </li>
        <li><a href="/controllers">Controllers</a></li>
        <li><a href="/models">Models</a></li>
        <li class="section"><a class="header" href="/charms">Charms & Services</a>
            <ul class="sub">
                <li><a href="/charms-deploying">Deploying Services</a></li>
                <li><a href="/charms-constraints">Using constraints</a></li>
                <li><a href="/charms-config">Service configuration</a></li>
                <li><a href="/charms-relations">Service Relations</a></li>
                <li><a href="/charms-exposing">Exposing Services</a></li>
                <li><a href="/charms-scaling">Scaling Services</a></li>
                <li><a href="/charms-destroy">Removing Services &amp; Units</a></li>
                <li><a href="/charms-service-groups">Groups of Services</a></li>
                <li><a href="/charms-ha">Charm high availability</a></li>
                <li><a href="/charms-bundles">Using bundles</a></li>
                <li><a href="/charms-working-with-units">Working with Units</a></li>
                <li><a href="/actions">Working with Actions</a></li>
                <li><a href="/charms-storage">Using storage</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/users">Users</a>
            <ul class="sub">
                <li><a href="/users-auth">Authentication</a></li>
                <li><a href="/users-creating">Creating users</a></li>
                <li><a href="/users-models">Users and models</a></li>
                <li><a href="/users-manage">User management</a></li>
                <li><a href="/users-sample-commands">Sample commands</a></li>
                <li><a href="/users-workflows">Workflow scenarios</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/juju-managing">Managing Juju</a>
            <ul class="sub">
                <li><a href="/juju-block">Restrict/block Juju commands</a></li>
                <li><a href="/juju-centos">CentOS support</a></li>
                <li><a href="/network-spaces">Network spaces</a></li>
                <li><a href="/juju-misc">Miscellaneous</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/howto">How to...</a>
            <ul class="sub">
                <li><a href="/howto-node">Deploy a Node.js app</a></li>
                <li><a href="/howto-rails">Test and deploy on Rails</a></li>
                <li><a href="/howto-privatecloud">Set up a Private Cloud</a></li>
                <li><a href="/howto-vagrant-workflow">Vagrant Workflow</a></li>
                <li><a href="/howto-drupal-iis">Deploy Drupal Windows charm</a></li>
            </ul>
        </li>
        <li><a href="/troubleshooting">Troubleshooting</a></li>
    </ul>
<!--- SECTION --->
    <li class="section"><h4 class="header toggle-target">Developer Guide</h4>
        <ul>
        <li class="section"><a class="header" href="/developer-getting-started">Getting Started</a>
            <ul class="sub">
                <li><a href="/developer-getting-started#install-libraries-and-tools">Prerequisites and Tools</a></li>
                <li><a href="/developer-getting-started#designing-your-charm">Designing your Charm</a></li>
                <li><a href="/developer-getting-started#writing-your-charm">Writing your Charm</a></li>
                <li><a href="/developer-getting-started#testing-your-charm">Testing your Charm</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-event-cycle">Event Cycle</a>
            <ul class="sub">
                <li><a href="/developer-event-cycle#handling-reactive-states">Handling Reactive States</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-layers">Charm Layers</a>
            <ul class="sub">
                <li><a href="/developer-layers#what-are-layers?">What are Layers</a></li>
                <li><a href="/developer-layers#states">States</a></li>
                <li><a href="/developer-layer-example">How to Write a Layer</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-layers-interfaces">Interface Layers</a>
            <ul class="sub">
                <li><a href="/developer-layers-interfaces#design-considerations">Design Considerations</a></li>
                <li><a href="/developer-layers-interfaces#communication-scopes">Communication Scopes</a></li>
                <li><a href="/developer-layers-interfaces#writing-an-interface-layer">Writing an Interface</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-leadership">Implementing Leadership</a>
            <ul class="sub">
                <li><a href="/developer-leadership#leadership-hooks">Leadership Hooks</a></li>
                <li><a href="/developer-leadership#leadership-tools">Leadership Tools</a></li>
                <li><a href="/developer-leadership#leadership-howtos">Leadership Howtos</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-actions">Implementing Actions</a>
            <ul class="sub">
                <li><a href="/developer-actions#implementing-actions">Defining Actions</a></li>
                <li><a href="/developer-actions#action-tools">Action Tools</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-storage">Implementing Storage</a>
            <ul class="sub">
                <li><a href="/developer-storage#adding-storage">Adding Storage</a></li>
                <li><a href="/developer-storage#storage-hooks">Storage Hooks</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-testing">Writing Tests</a>
            <ul class="sub">
                <li><a href="/developer-testing#charm-proof">Charm Proof</a></li>
                <li><a href="/developer-testing#amulet">Amulet</a></li>
                <li><a href="/developer-testing#bundletester">BundleTester</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-debugging">Debugging</a>
            <ul class="sub">
                <li><a href="/developer-debug-layers">Debugging Layers</li></a></li>
                <li><a href="/developer-debugging#the-'debug-hooks'-command">debug-hooks</a></li>
                <li><a href="/developer-debugging#the-'debug-log'-command">debug-log</a></li>
                <li><a href="/developer-debug-dhx">DHX</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/developer-howto">How to...</a>
            <ul class="sub">
                <li><a href="/howto-charm-with-docker">Charm with Docker</a></li>
                <li><a href="/howto-vagrant-workflow">Work with Vagrant</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/authors-intro">Charm Authors</a>
            <ul class="sub">
                <li><a href="/authors-hook-environment">How hooks are run (Hook API)</a></li>
                <li><a href="/authors-relations-in-depth">Relations lifecycle</a></li>
                <li><a href="/authors-relations">Implementing relations</a></li>
                <li><a href="/authors-charm-leadership">Charm leadership</a></li>
                <li><a href="/authors-hook-errors">Hook Errors</a></li>
                <li><a href="/authors-hook-debug">Hook Debugging</a></li>
                <li><a href="/authors-hook-debug-dhx">Hook Debugging with DHX</a></li>
                <li><a href="/authors-subordinate-services">Subordinate services</a></li>
                <li><a href="/authors-implicit-relations">Implicit Relations</a></li>
                <li><a href="/authors-testing">Charm Testing</a></li>
                <li><a href="/authors-charm-building">Building a Charm from Layers</a></li>
            </ul>
        </li>
        <li class="section"><a class="header" href="/authors-charm-store">The Juju Charm Store</a>
            <ul class="sub">
                <li><a href="/authors-charm-store#submitting-a-new-charm">Submit a charm</a></li>
                <li><a href="/authors-charm-policy">Charm store policy</a></li>
                <li><a href="/charm-review-process">Charm review process</a></li>
                <li><a href="/authors-charm-best-practice">Best practices</a></li>
                <li><a href="/authors-charm-icon">Charm Icons</a></li>
            </ul>
        </li>
    </ul>
<!--- SECTION --->
    <li class="section"><h4 class="header toggle-target">Tools</h4>
        <ul>
        <li><a href="/tools-charm-tools">Charm Tools</a></li>
        <li><a href="/tools-charm-helpers">Charm Helpers</a></li>
        <li><a href="/tools-amulet">Amulet</a></li>
    </ul>
<!--- SECTION --->
    <li class="section"><h4 class="header toggle-target">Reference</h4>
        <ul>
        <li><a href="/commands">Juju commands</a></li>
        <li><a href="/reference-constraints">Juju constraints</a></li>
        <li><a href="/reference-charm-hooks">Juju Charm Hooks</a></li>
        <li><a href="/reference-environment-variables">Juju environment variables</a></li>
        <li><a href="/reference-hook-tools">Juju Hook Tools</a></li>
        <li><a href="/reference-layer-yaml">Layer.yaml</a></li>
        <li><a href="http://godoc.org/github.com/juju/juju/api">API docs</a></li>
        <li><a href="/reference-releases">Releases</a></li>
        <li><a href="/reference-release-notes">Release notes</a></li>
        <li><a href="/reference-status">Status values</a></li>
        <li><a href="/reference-numbering">Machine/unit numbering</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href="/reference-reviewers">Charm Review Criteria</a></li>
    </ul>
<li><a href="/contributing">Help improve these docs</a></li>
<li><a href="https://github.com/juju/docs/issues/new">Report a docs issue</a></li>
</ul>
