<ul>
  <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Documentation</a></li>
  <ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Key concepts</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/the_snappy_system">The Snappy system</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/ubuntu_core_desktop">Ubuntu Core &amp; Ubuntu Desktop</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/ubuntu_core_desktop#what-is-ubuntu-core">What is Ubuntu Core</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/ubuntu_core_desktop#differences-to-ubuntu-desktop">Differences to Ubuntu Desktop</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/ubuntu_core_desktop#release-cycles">Release cycles</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/kinds_of_snaps">The kinds of snaps</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/kinds_of_snaps#kernel-snap">Kernel snap</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/kinds_of_snaps#gadget-snap">Gadget snap</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/kinds_of_snaps#os-snap">OS snap</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/kinds_of_snaps#application-snap">Application snap</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Assertions</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/interfaces">Interfaces (plugs and slots)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Transactional system update</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/garbage">Multiple snaps version &amp; garbage collection</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Architecture of snaps</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/snap_metadata">Metadata Yaml file</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Snaps folder structure</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">File system layout</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Name spaces</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Environment variables</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Wrapper script</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Desktop snaps</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Library snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">(Extending) security policy</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Using snaps</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Install a snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Removing and purge a snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Update one/all snaps</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Rollbacking a snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Changing channels</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Snap Config</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">List available interfaces</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Graphical management: WebDM</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Build Apps</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">About</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Your first snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Build your snap on your device</a></li>
      <li>Migrating from 15.04 to Series 16</li>
        <ul>
          <li></li><a href="{{ site.baseurl }}/snappy-dev/15_to_16_introduction">Introduction</a></li>
          <li><a href="{{ site.baseurl }}/snappy-dev/15_to_16_config_desktop">Configuring Ubuntu Desktop</a></li>
          <li><a href="{{ site.baseurl }}/snappy-dev/15_to_16_important_changes">Important Changes</a></li>
          <li><a href="{{ site.baseurl }}/snappy-dev/15_to_16_porting">Porting 15.04 snaps to Series 16</a></li>
        </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Parts</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Using</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Publishing</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Debugging</a></li>
      <ul>
         <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">How to test your app/service</a></li>
         <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Security</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Publish your snap</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Apps: cli, services</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Advanced used</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">App file system layout and important variables</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Continuous integration</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Parts store</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Using Snappy with ROS</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Build your own plugin</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Distribute apps</a></li>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">System operation</a>.</li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Appstore (future)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Update control (future)</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Advanced notions</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Security (whitepaper)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Package naming convention</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Build Devices</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Gadget Snappy Package</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Porting resources</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Gadget snap (channels)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Asserts</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Factory process</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Manage devices (future)</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Update control (future)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Appstore (future)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/manage_device_channels">(Image) Channels</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Garbage collection</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Snappy Ubuntu Core REST API (future)</a></li>
    </ul>
    <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Reference</a></li>
    <ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Snap command (Content of --help)</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">install (--help)</a></li>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">find (--help)</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Snapcraft command (Content of --help)</a></li>
      <li><a href="{{ site.baseurl }}/snappy-dev/interfaces_list_intro">Interfaces</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/interfaces_list">List of interfaces and their description</a></li>
      </ul>
      <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">Parts</a></li>
      <ul>
        <li><a href="{{ site.baseurl }}/snappy-dev/placeholder">List of published parts and their description</a></li>
      </ul>
    </ul>
  </ul>
</ul>
