<ul>
  <li><a href="{{ site.baseurl }}/snappy-dev/autoupdate">Autoupdate</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/config">Config</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/cross-build">Cross build</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/gadget">Gadget</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/garbage">Garbage</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/interfaces">Interfaces</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/meta">Meta</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/package-names">Package names</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/rest">Rest</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/security">Security</a></li>
  <li><a href="{{ site.baseurl }}/snappy-dev/system-updates">System updates</a></li>
</ul>
