<ul>
<li><a href="{{ site.baseurl }}/snappy/autoupdate">autoupdate</a></li>
<li><a href="{{ site.baseurl }}/snappy/config">config</a></li>
<li><a href="{{ site.baseurl }}/snappy/cross-build">cross-build</a></li>
<li><a href="{{ site.baseurl }}/snappy/gadget">gadget</a></li>
<li><a href="{{ site.baseurl }}/snappy/garbage">garbage</a></li>
<li><a href="{{ site.baseurl }}/snappy/interfaces">interfaces</a></li>
<li><a href="{{ site.baseurl }}/snappy/meta">meta</a></li>
<li><a href="{{ site.baseurl }}/snappy/package-names">package-names</a></li>
<li><a href="{{ site.baseurl }}/snappy/rest">rest</a></li>
<li><a href="{{ site.baseurl }}/snappy/security">security</a></li>
<li><a href="{{ site.baseurl }}/snappy/system-updates">system-updates</a></li>
</ul>
