<ul>
<li><a href="{{ site.baseurl }}/snapcraft/debug">debug</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/get-started">get-started</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/intro">intro</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/metadata">metadata</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/mir-snaps">mir-snaps</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/plugins">plugins</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/ros-snap">ros-snap</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/snapcraft-advanced-features">snapcraft-advanced-features</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/snapcraft-parts">snapcraft-parts</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/snapcraft-syntax">snapcraft-syntax</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/snapcraft-usage">snapcraft-usage</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/upload-your-snap">upload-your-snap</a></li>
<li><a href="{{ site.baseurl }}/snapcraft/your-first-snap">your-first-snap</a></li>
</ul>
